<div class="card card-primary card-outline">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title"><i class="fas fa-ticket-alt"></i> Tickets</h3>
    <%= link_to "New Ticket", new_ticket_path, class: "btn btn-primary" %>
  </div>
  <div class="card-body p-0">
    <table class="table table-hover table-striped mb-0">
      <thead class="table-dark">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Priority</th>
          <th>Status</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody id="tickets">
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.title %></td>
            <td><%= ticket.description %></td>
            <td><span class="badge bg-info"><%= ticket.priority %></span></td>
            <td><span class="badge bg-secondary"><%= ticket.status %></span></td>
            <td><span class="badge bg-light"><%= ticket.user.email %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
